<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Malaria Predication</title>
  </head>
  <body style="background-color: aqua">
    <h1
      style="
        background-color: rgb(60, 0, 255);
        text-align: center;
        padding: 10px;
        border: 3px solid black;
        height: auto;
        width: auto;
        margin: 30px;
      "
    >
      Malaria Predication Using Deep Learning
    </h1>
    <h3
      style="
        background-color: rgb(142, 195, 202);
        text-align: center;
        color: azure;
        padding: 10px;
        border: 1px solid black;
        height: auto;
        font-family: 'Courier New', Courier, monospace;
        width: auto;
        margin: 10px;
      "
    >
      Predict malaria using deep learning: A neural network analyzes microscopic
      blood smear images to detect parasites, aiding in early diagnosis and
      treatment.
    </h3>

    <form
      style="
        text-align: center;

        height: auto;
        width: 40%;
        margin: auto;
      "
      action="/predict"
      method="post"
      enctype="multipart/form-data"
    >
      <div style="background-color: aliceblue">
        <label
          style="
            font-size: large;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
              serif;
          "
          >Insdie the image</label
        >
        <input type="file" name="image" accept="image/*" required />
      </div>
      <br /><br />
      <button style="background-color: rgb(169, 203, 228)" type="submit">
        Predict
      </button>
    </form>
  </body>
</html>
